<!-- <body>

    <h2 style="text-align:center">User Profile Card</h2>

    <div class="card">
        <img src="https://images.pexels.com/photos/236277/pexels-photo-236277.jpeg?auto=compress&cs=tinysrgb&w=600"
            alt="Anuj" style="width:100%">
        <h1>Anuj Patel</h1>
        <p class="title">Angular </p>
        <p>Student of Silver Oak University</p>
        <div style="margin: 24px 0;">
            <a href="#"><i class="fa fa-dribbble"></i></a>&nbsp;
            <a href="#"><i class="fa fa-twitter"></i></a>&nbsp;
            <a href="#"><i class="fa fa-linkedin"></i></a>&nbsp;
            <a href="#"><i class="fa fa-facebook"></i></a>
        </div>
        <p><button>Contact</button></p>
    </div>

</body> -->

<router-outlet></router-outlet>