.main-body {
  background-color: red;
  background-image: linear-gradient(rgb(104, 255, 255), orange);
}

.example-form {
  border-radius: 16px;
  width: 350px;
  position: absolute;
  top: 15%;
  left: 560px;
  background-color: white;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  padding: 35px;
}

.example-full-width {
  width: 100%;
}
.resetpass {
  display: flex;
  justify-content: center;
  font-size: larger;
}
.btnlogin {
  margin-left: 28%;
}
.redirectToLogin {
  margin-left: 30%;
  margin-top: 5%;
}
.text-center {
  display: flex;
  justify-content: center;
}
.redirect {
  cursor: pointer;
}
