<body class="main-body ">

    <form class="example-form" [formGroup]="form">

        <b class="resetpass">Reset Password</b>
        <br>
        <p class="text-center">
            Please enter your email address
        </p>
        <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="pat@example.com" formControlName="email" #passwordResetEmail required>
            <mat-icon matSuffix>email</mat-icon>
            <mat-error *ngIf="email?.errors?.['required']">Email is required</mat-error>
        </mat-form-field>

        <!-- <div class="formGroup">
            <input type="submit" class="btn btnPrimary" value="Reset Password"
                (click)="authService.ForgotPassword(passwordResetEmail.value)" />
        </div> -->


        <!-- Calling ForgotPassword from AuthService Api -->
        &nbsp;
        <div class="button-top">
            <button type="button" mat-raised-button color="primary" class="btnlogin btnPrimary"
                (click)="authService.ForgotPassword(passwordResetEmail.value)">Reset Password</button>
        </div>
        &nbsp;

        <div class="redirectToLogin">
            <span>Go back to ? &nbsp;
                <span class="redirect" routerLink="/sign-in">Log In</span></span>
        </div>


    </form>
</body>